bower_components
node_modules
build
coverage
npm-debug.log
*.sublime-project
*.sublime-workspace
*.nupkg
.tscache
.vs


/src/*.js
/src/*.map
/*.map
*.map
obj
/bin
/.npmrc
/angular-applicationinsights.csproj.user
